@import '../../app.component.scss';

.input-slider{
    width:85%;
}

.slider-label-list{
    width:100%;
    list-style-type:none;
    overflow:hidden;
    padding-left:0px;
}

.slider-label{
    float:left;
}