<div class="header">
    <div>
        <img src="../assets/images/gradient.png" style="width:100%">
    </div>
    <div>
        <img class="img-logo img-centered" src="../assets/images/logo.svg">
    </div>
</div>
<div class="page-content">
    <div>
        <img class="img-centered" src="../assets/images/hospital.png">
    </div>
    <div style="width:100%">
            <div class="div-zipcode-search">
                <zipcode-search></zipcode-search>
            </div>
        </div>
        
        <div class="grid">
            <div class="side-bar grid__col grid__col--1-of-3">
                <distance-search></distance-search>
                
                <gender-search></gender-search>
            </div>
            <div class="main-content grid__col grid__col--2-of-3">
                <doctor-list></doctor-list>
            </div>
        </div>
</div>

