$color-green: #5ab44b;
$color-blue-light: #25aae1;
$color-blue-med: #006595;
$color-grey-light: #f8f8f8;
$color-grey-med: #858585;
$color-grey-dark: #695e4a;
$color-white: #ffffff;
$color-black: #000000;

$font-size-12: 12px;
$font-size-16: 16px;
$font-size-17: 17px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-22: 22px;

$font-family: 'Cabin';

body{
    font-family: $font-family;
}

.img-logo{
    width:6em;
    height:6em;
}

.img-centered{
    display:block;
    margin:auto;
}

.div-zipcode-search{
    background-color:$color-grey-light;
}